
@mixin hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin transition($property: all) {
  transition: $property 0.25s ease 0s;
}