.cursor {
    @include transition(background);
    background-color: $COLOR_PRIMARY;
    border-radius: 100%;
    height: 18px;
    pointer-events: none;
    position: fixed;
    top: 0px;
    width: 18px;
    z-index: 999;
}