$COLOR_PRIMARY: rgb(172, 206, 200); // #ACCEC8
$COLOR_TEXT: rgb(255, 255, 255); // #ffffff
$COLOR_TEXT_SECONDARY: rgb(97, 96, 94);
$COLOR_BACKGROUND: rgb(44, 44, 44); // #2C2C2C
$COLOR_PEBBLE: rgb(255, 250, 243); // #FFFAF3


$FONT_WEIGHT_BOOK: 400;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_BLACK: 900;

$LINE_HEIGHT_DISPLAY: 1.2;
$LINE_HEIGHT_TITLE: 1.4;