.carousel {
  $parent: &;
  background-color: $COLOR_BACKGROUND;
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;

  &__wrapper {
    overflow: hidden;
    flex: 1;
    position: relative;
  }

  &__container {
    display: grid;
    grid-column-gap: rem(9px);
    grid-template-columns: repeat(12, 1fr);
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      // background-color: $COLOR_BACKGROUND;
      // box-shadow: 4px 0 11px 9px $COLOR_BACKGROUND;
      content: '';
      height: 100%;
      width: 5px;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &__title {
    font-size: rem(16px);
    color: $COLOR_PEBBLE;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: rotate(270deg) translateY(-50%);
    user-select: none;

    &-container {
      min-height: 250px;
      min-width: 30px;
    }
  }

  &__card {
    max-width: 439px;
    will-change: transform;

    &-footer {
      display: flex;
      flex-flow: column nowrap;
      user-select: none;
    }

    &-subtitle {
      font-size: rem(14px);
      font-weight: $FONT_WEIGHT_BOLD;
      margin-bottom: rem(10px);
      text-transform: uppercase;
    }

    &-title {
      font-size: rem(20px);
      font-weight: $FONT_WEIGHT_LIGHT;
      line-height: $LINE_HEIGHT_DISPLAY;
    }

    &-image {
      pointer-events: none;
      position: relative;
      transform-origin: left center;
      transform: scale(1.2);
      user-select: none;
      will-change: transform;

      &-container {
        border-radius: 40px 40px 40px 0px;
        margin-bottom: rem(15px);
        height: 350px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }

  &.is-device {
    #{$parent}__container {
      @include hideScrollbar;
      overflow-y: hidden;
      overflow-x: scroll;
      position: relative;
      -webkit-overflow-scrolling: touch;
    }

    #{$parent}__card {
      &-image {
        transform: scale(1);
      }
    }
  }

  @include mq($from: large) {
    &__card {      
      &-title {
        font-size: rem(25px);
      }

      &-image-container {
        border-radius: 60px 60px 60px 0px;
        height: 450px;
        margin-bottom: rem(35px);
      }
    }
  }

  @include mq($from: wide) {
    margin-left: calc((100vw - $CONTAINER_MAX_WIDTH) / 2);

    &__card {
      width: 439px;

      &-title {
        font-size: rem(30px);
      }

      &-image-container {
        border-radius: 80px 80px 80px 0px;
        margin-bottom: rem(40px);
      }
    }
  }
}
